In [1]:
import pandas as pd
import numpy as np
import glob
import os
from os.path import isfile,join,isdir
import matplotlib.pyplot as plt

In [2]:
import sys
sys.path.insert(0, 'supplementary files')

from saxpy import SAX
from stage1 import *
from stage2 import *

In [3]:
period_start = '20170101'
period_end = '20180101'
frequency = '60min'
original_data = pd.read_csv('original_data_' + period_start + '_' + period_end + '_' + frequency + '.csv', index_col = False)
windfarms = pd.read_excel('NRGstreamData/WindFarms.xlsx').sort_values(by='Asset ID').reset_index(drop = True)

labels = original_data.columns[-20:]
original_data.head(4)

,DT,Year,Month,Day,Hour,AKE1,ARD1,BSR1,BTR1,BUL1,...,HAL1,IEW1,IEW2,KHW1,NEP1,OWF1,SCR2,SCR3,SCR4,TAB1
0,2017-01-01 00:00:00,2017,1,1,00:00,22,19,236,27,4,...,40,27,19,14,33,25,2,15,41,37
1,2017-01-01 01:00:00,2017,1,1,01:00,34,35,173,34,4,...,30,40,30,39,39,42,15,12,21,34
2,2017-01-01 02:00:00,2017,1,1,02:00,23,30,232,19,4,...,36,37,32,34,28,40,20,11,31,37
3,2017-01-01 03:00:00,2017,1,1,03:00,30,33,200,29,4,...,47,57,53,36,22,41,21,11,25,20

In [10]:
(list(original_data.iloc[0,5:]))

[22, 19, 236, 27, 4, 8, 1, 1, 15, 25, 40, 27, 19, 14, 33, 25, 2, 15, 41, 37]

In [11]:
import collections
a = [1,1,1,1,2,2,2,2,3,3,4,5,5]
counter=collections.Counter(a)
print(counter)

Counter({1: 4, 2: 4, 3: 2, 5: 2, 4: 1})

In [ ]:
from sklearn import preprocessing

# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(original_data[labels])
# Run the normalizer on the dataframe
data_normalized = pd.DataFrame(x_scaled)

In [ ]:
from sklearn.cluster import KMeans
kmin = KMeans(n_clusters=3)
X = np.transpose(data_normalized.iloc[:,:])
Y = kmin.fit(X)

In [ ]:
clusters = kmin.labels_
(clusters)

In [ ]:
L = np.array(labels)
L

In [ ]:
from mk import mk_eab, mk

In [ ]:
aa = data_normalized.iloc[:,1][:1000:].values
aa.size

In [ ]:
obj = mk_eab(l=10, metric='euclidean')
motif_a, motif_b = obj.search(aa)
print(motif_a['motif'])
print("begin = ", motif_a['begin'])
print("end = ", motif_a['end'])

In [ ]:
fig, this_axes = plt.subplots(num=None, figsize=(20,6), dpi=100, facecolor='w', edgecolor='k')
plt.plot(aa)
# plt.plot(np.arange(1,10), aa[1:10])

plt.plot(np.arange(motif_a['begin'],motif_a['end']),motif_a['motif'])
# plt.savefig('motif_discovery.pdf')

In [ ]:
from saxpy import SAX

In [ ]:
s = SAX(wordSize=len(aa), alphabetSize=8) #,epsilon
(x1String, x1Indices) = s.to_letter_rep(aa)
print(x1String)

In [ ]:
# The error shows that this function does not work on symoblic representation of data. It only works on continous floating data
obj = mk_eab(l=5, metric='euclidean')
motif_a, motif_b = obj.search(x1String[1:50])
print(motif_a['motif'])
print("begin = ", motif_a['begin'])
print("end = ", motif_a['end'])

In [ ]:
# np.digitize(aa,np.arange(0,1.1,0.2))
bins = np.arange(0,1,0.1)
# bins = [0, 0.1, 0.3, 0.5, 0.7, 0.9, 1]
data_digitize = np.digitize(aa,bins,right=False)
data_digitize[:20]
# fig, this_axes = plt.subplots(num=None, figsize=(20,6), dpi=100, facecolor='w', edgecolor='k')
# plt.step(np.arange(len(data_digitize)),data_digitize)

In [ ]:
type(aa)

In [ ]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

In [ ]:
w = pd.qcut(np.random.randn(8), 4,labels=["excelent", "good", "medium", "bad"])
print(w)
print(type(w))

In [ ]:
List = [i for i in w]
print(List)
print(type(List))

In [ ]:
w = pd.qcut(np.random.randn(8), 4,labels=False)
print(w)
print(type(w))

In [ ]:
from stage1 import *
from stage2 import *

import time

params_nwa = (10,5,8)

start_time = time.time()
bar = TSP2(aa[:], params=params_nwa, k=5, d=2)
print('elapsed time =', time.time()-start_time)

start_time = time.time()
bar.build_cm(t=10)
print('elapsed time =', time.time()-start_time)

In [ ]:
from itertools import permutations, combinations_with_replacement, product
perms = [''.join(p) for p in permutations('sta')]
print(perms)

alphabetSize = 8
alphabets = string.ascii_lowercase[:alphabetSize]
perms2 = [''.join(p) for p in product(alphabets,repeat=3)] #combinations_with_replacement
print(perms2)